.button,
.button:hover,
.button:focus,
.button:active {
  color: var(--white);
  text-decoration: none;
}

.button {
  background-color: var(--royal);
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-size: 1.25em;
  text-align: center;
  transition: all 200ms;
}

.button:hover,
.button:focus {
  transform: translateY(-3px);
  box-shadow: 0 3px 1px var(--fg);
}

.button:active {
  transform: translateY(0);
  box-shadow: none;
  transition: all 35ms;
}

.button > * {
  vertical-align: middle;
}

.button > *:first-child {
  margin-right: 0.5em;
}
