@import url('https://use.typekit.net/pqx2pko.css');

@font-face {
  font-family: BwSeidoRound;
  src: url(../fonts/BwSeidoRound500.eot);
  src: url(../fonts/BwSeidoRound500.eot?#iefix) format("embedded-opentype"),
       url(../fonts/BwSeidoRound500.woff2) format("woff2"),
       url(../fonts/BwSeidoRound500.woff) format("woff"),
       url(../fonts/BwSeidoRound500.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: BwSeidoRound;
  src: url(../fonts/BwSeidoRound900.eot);
  src: url(../fonts/BwSeidoRound900.eot?#iefix) format("embedded-opentype"),
       url(../fonts/BwSeidoRound900.woff2) format("woff2"),
       url(../fonts/BwSeidoRound900.woff) format("woff"),
       url(../fonts/BwSeidoRound900.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  --white: #fff;
  --slate: #25282A;
  --royal: #0072CE;
  --blue: #61D1E3;
  --red: #FF585D;
  --green: #8FD6BD;
  --yellow: #F0EC74;
  --gray: #ddd;
  --dark-gray: #888;
  --light-gray: #f8f8f8;

  --bg: var(--white);
  --fg: var(--slate);
  --primary: var(--royal);
  --secondary: var(--red);
  --tertiary: var(--green);
  --selected: var(--yellow);

  background-color: var(--bg);
  color: var(--fg);
  font-family: benton-sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: calc(.8em + 0.3vw);
  line-height: 1.5;
}


@media (prefers-color-scheme: dark) {
  html {
    --bg: var(--slate);
    --fg: var(--white);
    --primary: var(--blue);
    --gray: #555;
  }
}

body {
  margin: 0 auto;
  padding: 1em;
  max-width: 65em;
}

h1 {
  font-size: 3em;
}

h1, h2, h3 {
  font-family: BwSeidoRound,sans-serif;
  font-weight: 500;
  line-height: 1.1;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
  -webkit-overflow-scrolling: auto;
}
::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: rgba(0,0,0,.1);
  box-shadow: 0 0 1px rgba(255,255,255,.1);
}

pre {
  overflow-x: scroll;
  padding: 5px 10px;
  background-color: var(--light-gray);
}

::selection {
  background-color: var(--selected);
}

a {
  color: var(--primary);
  outline: none;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
  color: var(--secondary);
}

img {
  display: block;
  max-width: 100%;
}