@import url('https://use.typekit.net/pqx2pko.css');

@font-face {
  font-family: BwSeidoRound;
  src: url(../fonts/BwSeidoRound500.eot);
  src: url(../fonts/BwSeidoRound500.eot?#iefix) format("embedded-opentype"),
       url(../fonts/BwSeidoRound500.woff2) format("woff2"),
       url(../fonts/BwSeidoRound500.woff) format("woff"),
       url(../fonts/BwSeidoRound500.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: BwSeidoRound;
  src: url(../fonts/BwSeidoRound900.eot);
  src: url(../fonts/BwSeidoRound900.eot?#iefix) format("embedded-opentype"),
       url(../fonts/BwSeidoRound900.woff2) format("woff2"),
       url(../fonts/BwSeidoRound900.woff) format("woff"),
       url(../fonts/BwSeidoRound900.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  --bg: #fff;
  --fg: #25282A;
  --primary: #0072CE;
  --secondary: #FF585D;
  --tertiary: #8FD6BD;
  --selected: #F0EC74;
  --gray: #ddd;
  --dark-gray: #888;

  background-color: var(--bg);
  color: var(--fg);
  font-family: benton-sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: calc(.8em + 0.3vw);
  line-height: 1.5;
}


@media (prefers-color-scheme: dark) {
  html {
    --bg: #25282A;
    --fg: #fff;
    --primary: #6AD1E3;
    --gray: #555;
  }
}

body {
  margin: 0 auto;
  padding: 1em;
  max-width: 65em;
}

h1 {
  font-size: 3em;
}

h1, h2, h3 {
  font-family: BwSeidoRound,sans-serif;
  font-weight: 500;
  line-height: 1.1;
}

::selection {
  background-color: var(--selected);
}

a {
  color: var(--primary);
  outline: none;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
  color: var(--secondary);
}

img {
  max-width: 100%;
}
