.grid {
  display: grid;
  grid-gap: 3em 2.5em;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  margin: 0 auto;
}


.cardWrap,
.cardWrap:hover,
.cardWrap:focus,
.cardWrap:active {
  color: var(--fg);
  position: static;
  text-decoration: none;
}
.cardWrap {
  border: 3px solid var(--gray);
  overflow: hidden;
  border-radius: 2px;
  transition: all 200ms;
}
.cardWrap:hover,
.cardWrap:focus {
  transform: translateY(-3px);
  border: 3px solid var(--dark-gray);
}
.cardWrap:active {
  transform: translateY(0);
  transition: all 35ms;
}

.image {
  height: 12em;
  object-fit: cover;
  width: 100%;
}

.cardContent {
  padding: 0.75rem;
}

.cardContent > *:first-child {
  margin: 0;
}

.cardContent > *:last-child {
  color: var(--dark-gray);
  margin: 0;
}

.cardFooter {
  padding: 0 0.75rem 0.75rem;
  margin-left: -0.75rem;
}

.label {
  color: var(--primary);
  display: inline-block;
  margin-left: 0.75rem;
}
