.grid {
  display: grid;
  grid-gap: 2em;
  margin: 0 auto;
}

@media (min-width: 475px) {
  .grid {
    grid-gap: 2.5em 2em;
    grid-template-columns: repeat(2, minmax(15em, 1fr));
  }
}

@media (min-width: 775px) {
  .grid {
    grid-gap: 3em 2.5em;
    grid-template-columns: repeat(3, minmax(15em, 1fr));
  }
}

.cardWrap,
.cardWrap:hover,
.cardWrap:focus,
.cardWrap:active {
  color: var(--fg);
  text-decoration: none;
}

.cardWrap {
  border: 3px solid var(--gray);
  overflow: hidden;
  border-radius: 2px;
  transition: all 200ms;
}
.cardWrap:hover,
.cardWrap:focus {
  transform: translateY(-3px);
  border: 3px solid var(--dark-gray);
}
.cardWrap:active {
  transform: translateY(0);
  transition: all 35ms;
}

.image {
  height: 12em;
  object-fit: cover;
  width: 100%;
}

.cardContent {
  padding: 0.75rem;
}

.cardContent > *:first-child {
  margin: 0;
}

.cardContent > *:last-child {
  color: var(--dark-gray);
  margin: 0;
}

.cardFooter {
  padding: 0 0.75rem 0.75rem;
  margin-left: -0.75rem;
}

.label {
  color: var(--primary);
  display: inline-block;
  margin-left: 0.75rem;
}
