.wrap {
  margin: 1.7em auto 1.5em;
  padding: 1em;
  display: flex;
}

.icon {
  background-image: url(../images/near-icon-black.svg);
  background-size: cover;
  display: inline-block;
  height: 5em; width: 5em;
  margin-top: 1.2em;
  margin-right: 1em;
  margin-left: -2.2em;
  position: relative;
  text-indent: -3000em;
}
.icon:focus {
  outline: 1px solid var(--secondary);
}
.icon:active {
  outline: none;
}
@media (prefers-color-scheme: dark) {
  .icon {
    background-image: url(../images/near-icon-white.svg);
  }
}

.content {
  flex: 1;
}
